<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	      http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0">
	<servlet>
		<servlet-name>MessageServlet</servlet-name>
		<servlet-class>se.coredev.servlet.MessageServlet</servlet-class>
		<init-param>
			<param-name>message</param-name>
			<param-value>Default message</param-value>
		</init-param>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>MessageServlet</servlet-name>
		<url-pattern>/message</url-pattern>
	</servlet-mapping>

</web-app>